.norm-form table {
	width: 100%;
}
.norm-form table tr th {
	font-variant: normal;
	font-weight: normal;
}
.norm-form table tr td:not(:last-child),
.norm-form table tr th:not(:last-child) {
	padding-right: 0.25rem;
}
.norm-form table tr td:not(:first-child),
.norm-form table tr th:not(:first-child) {
	padding-left: 0.25rem;
}
.norm-form table tr td:first-child,
.norm-form table tr th:first-child {
	padding-left: 0;
}
.norm-form table tr:not(:last-child) td:last-child,
.norm-form table tr:not(:last-child) th:last-child {
	padding-right: 0;
}
.norm-form table tr:nth-child(2) td:last-child {
	padding-right: 0;
}
.norm-form input {
	padding: 0.2rem 0.3rem;
}
.norm-form input[type=submit] {
	width: auto;
	padding: 2px 6px 3px;
	background:ButtonFace; 
	color:ButtonText; 
	border:2px outset ButtonFace;
	font: -webkit-control;
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: normal;
    font-family: BlinkMacSystemFont;
}
.norm-form input[type=submit]:active {
	border-style:inset; 
}