.navbar {
	width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
@media screen and (max-width: 511px) {
	.navbar.px2 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
.navbar > div {
	display: inline-flex;
}
.navbar > div > div:not(:last-child) {
    margin-right: 17px;
}