.newsletter-signup {
	margin: 1rem auto 0 auto;
	width: 300px;
	text-align: center;

	input[type=submit] {
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;
	}
	input[type=email] {
		width: 145px;
		margin-left: auto;
		margin-right: auto;
	}
}