<marquee behavior="alternate">
	<h4 class="my1">YOU'RE EDITING A POST</h4>
</marquee>

{{post-form session=session post=model submitPost='savePost' linkSave='saveLink' linkDelete='deleteLink' newLink='newLink'}}