<div class="pt1 post-list">
	{{#if model}}
		{{#each model as |submission|}}
			{{submission-display submission=submission}}
		{{/each}}
	{{else}}
		<div class="txt--center muted mt1">(There aren't any)</div>
	{{/if}}
</div>

{{#unless model}}
	{{partial 'infinite-scroll-button'}}
{{/unless}}