<marquee behavior="alternate">
	<h4 class="my1">YOU'RE EDITING A POST</h4>
</marquee>

{{post-form session=session item=model submitItem='saveItem' linkSave='saveLink' linkDelete='deleteLink' newLink='newLink'}}

<hr>

<div class="py2 txt--center">
	<button class="btn bg--white" {{action 'unapprovePost' model}}>Unpublish Post</button>
</div>