{{post-form class="pb2" session=session item=model submitItem='saveItem' linkSave='saveLink' linkDelete='deleteLink' newLink='newLink' collectionsInput=collectionsInput}}

<hr>

{{partial 'item-date-info'}}

<div class="py1">
	<button class="btn btn--s bg--white" {{action 'unapprovePost' model}}>Unpublish Post</button>
	<button class="btn btn--s bg--white btn--danger" {{action 'deleteItem' model}}>Delete Post</button>
</div>