{{partial 'navbar' session=session}}

{{marquee-display pageTitle=pageSettings.pageTitle}}

<div class="measure px1 pb2">
	{{outlet}}
</div>

{{#if pageSettings.showFooter}}
	{{partial 'tiny-footer'}}
{{/if}}