<div class="guidelines">
	<div class="grd">
		<div class="grd-row">
			<div class="grd-row-col-2-6">
				<div>Projects don't have to be:</div>
				<ul>
					<li>tech-related</li>
					<li>your own work</li>
					<li>completed</li>
				</ul>
			</div>
			<div class="grd-row-col-2-6">
				<div>Projects must:</div>
			</div>
			<div class="grd-row-col-2-6">
				<div>Projects could be (scroll):</div>
				<ul class="scroll-box">
					<li>long cons</li>
					<li>self-incriminating document leaks</li>
					<li>browser extensions</li>
					<li>analog downgrades</li>
					<li>social experiments on animals</li>
					<li>apps</li>
					<li>underground networks</li>
					<li>above ground pools</li>
					<li>overly complicated tools</li>
					<li>scripts</li>
					<li>cryptic predictions</li>
					<li>live streams</li>
					<li>comically oversized things</li>
				</ul>
			</div>
		</div>
	</div>
</div>