<marquee behavior="alternate">
	<h4 class="my1">UNUSUAL INTERNET PROJECTS</h4>
</marquee>

<div class="py1 post-list">
	{{#each model as |post|}}
		{{post-display post=post session=session}}
	{{/each}}
</div>

<div class="txt--center mb2 pb2">
	{{#if endResults}}
		<span class="muted">That's all.</span>
	{{else}}
		<a href="" {{action 'loadMore'}}>Load more</a>
	{{/if}}
</div>