<marquee behavior="alternate">
	<h4 class="my1">UNUSUAL INTERNET PROJECTS</h4>
</marquee>

<div class="py1 post-list">
	{{#each model as |post|}}
		{{post-display post=post session=session}}
	{{/each}}
</div>