<div class="norm-form py1">
	<table>
		<tr>
			<th class="small muted">{{createdOnText}}</th>
			<th class="small muted">Last changed</th>
		</tr>
		<tr>
			<td>{{moment-calendar model.createdOn}}</td>
			<td id="updatedDisplay">{{moment-calendar model.updatedOn}}</td>
		</tr>
	</table>
</div>