<div class="measure">
	<div class="navbar p1">
		<div class="txt--left">
			<div class="logo">{{#link-to 'index'}}Uncommon Directory{{/link-to}}</div>
		</div>
		<div class="txt--right">
			<div>{{#link-to 'admin'}}Admin{{/link-to}}</div>
			<div>{{#link-to 'submit'}}Submit{{/link-to}}</div>
		</div>
	</div>
</div>