<div class="measure">
	<div class="navbar p1">
		<div>
			<div class="logo">{{#link-to 'index'}}Uncommon Directory{{/link-to}}</div>
		</div>
		{{#if session.isAuthenticated}}
			<div>
				<div><a href="" {{action 'signOut'}}>Log out</a></div>
				<div>{{#link-to 'admin'}}Admin{{/link-to}}</div>
			</div>
		{{/if}}
		<div>
			<div>{{#link-to 'submit'}}Submit{{/link-to}}</div>
		</div>
	</div>
</div>